body {
  height: 100vh;
  background-image: linear-gradient(to bottom, #b9dce7, #ffffff);
}

.App {
  width: 800px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-container {
  margin-bottom: 10px;
}

.container {
  display: flex;
	flex-direction: row;
  justify-content: space-between;
}

.container-row {
  display: flex;
	flex-direction: row;
}

.container-column {
  display: flex;
	flex-direction: column;
}


.list-style-type-off {
  list-style-type: none;
  padding: 0 0 0 0;
}

.indentation {
  margin: 25px;
}

.search-header {
  width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  margin: 0 0 0 0;
}

.search-field {
  font-size: 36px;
  margin: 0 0 0 0;
  
}

.title-search {
  margin: 0 0 0 -120px;
}

.search-input {
  width: 700px;
  height: 37px;
  border: 2px solid #f1c122;
}

.button-search {
  background-color: #f1c122; 
  border: none;
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer; 
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}

.button-search:hover {
  background-color: #ce8d01;
}

.red {
  color:red
}

.grey {
  color: rgb(164, 174, 194);
}

.baner-img {
  width: 600px;
  height: 70px;
  margin: 0 0 0 0;
}

.info {
  width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: flex-start;
}

.news {
  width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: flex-start;
  margin-left: 0;
}

.new {
  width: 250px;
  height: auto;
}
