.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.articleTitle-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  margin: 25px 0 0 350px;
  padding: 0 0 0 20px;
}

.horizontal-list {
  width: 100%;
  height: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  list-style-type: none;
  padding: 0 0 0 15px;
}

.item-horizontal-list {
  margin: 0 0 15px 0;
  width: 150px;
  height: 0;
  list-style-type: none;
}

.header-img {
  width: 100px;
  height: 100px;
  margin: 25px 5px 0 350px;
}

.header-container {
  width: 65%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.header-title {
  margin: 0;
}

.header-item:nth-child(2) {
  width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
  
}

.satay-img {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
}

.search-header {
  width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  margin: 70px 0 0 370px;
}

.search-field {
  font-size: 36px;
  margin: 0 0 0 220px;
  
}

.title-search {
  margin: 0 25px 0 0;
}

.search-input {
  width: 600px;
  height: 37px;
  border: 2px solid #f1c122;
}

.button-search {
  background-color: #f1c122; 
  border: none;
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer; 
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}

.button-search:hover {
  background-color: #ce8d01;
}

.red {
  color:red
}

.grey {
  color: rgb(164, 174, 194);
}

.baner-img {
  width: 600px;
  height: 70px;
  margin: 25px 0 0 365px;
}

.news {
  width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: flex-start;
  margin-left: 340px;

}

.new {
  width: 250px;
  height: auto;
}

.weather-img {
  width: 35px;
  height: 35px;
  margin: 15px 0 0 20px;
}

.info {
  width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: flex-start;
  
}




