.services-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.service-item {
  list-style-type: none;
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-item:hover {
  box-shadow: 0 4px 8px rgba(17, 170, 55, 0.486);
  transform: translateY(-5px);
}

.service-link {
  text-decoration: none;
  color: #333;
}

