.satya-container {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  margin: 0 0 0 0;
}

.satay-header {
  display: block;
  height: auto;
  margin: 0 0 0 0;
  font-size: 14px;
  font-weight: 600;

}

.satya-title {
  font-size: 12px;
}

.satya-article {
  font-size: 10px;
  color: rgb(164, 174, 194);
  margin: 0 0 0 0;
}



.left-indent {
  margin-top: 0;
  margin-left: 0;
}

.weather-info {
  margin: 0 0 0 0;
}

.info-item{
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 0 0;
}

.satya-title-one {
  font-size: 12px;
  margin: 0 0 0 0;
}



titleFontSize {

}