.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid #000;
  background-color: #dae7d9;

  h1 {
    font-size: 30px;
  }
}